<template>
  <ol class="commit-group table-list table-list-bordered">
    <li class="commit commits-list-item table-list-item js-navigation-item js-details-container Details js-socket-channel js-updatable-content" v-for="commit in paramCommitItems" :key="commit.sha">
      <div class="table-list-cell">
        <p class="commit-title  h5 mb-1 text-gray-dark">
          <a href="" class="message" data-pjax="true" title="dist removec">{{commit.commit.message}}</a>
        </p>
        <div class="commit-meta commit-author-section no-wrap d-flex flex-items-center mt-1">
          <div class="AvatarStack flex-self-start ">
            <div class="AvatarStack-body tooltipped tooltipped-se tooltipped-align-left-1" aria-label="pitabasprathal">
              <a href="" data-skip-pjax="true" class="avatar">
              <img src="https://avatars2.githubusercontent.com/u/19709768?s=40&amp;v=4" width="20" height="20" alt="@pitabasprathal">
              </a>
            </div>
          </div>
          <div>
            <a href="" class="commit-author tooltipped tooltipped-s user-mention" aria-label="View all commits by pitabasprathal">{{commit.commit.committer.name}}</a>
            committed on {{commit.commit.committer.date}}
          </div>
        </div>
      </div>
    </li>
  </ol>
</template>

<script>
  export default {
    name: 'appCommitItems',
    props: ['paramCommitItems'],
    data() {
      return {
        commitItems: this.paramCommitItems
      }
    }
  }
</script>