<template>
  <div class="column col-12 codesearch-results">
    <div class="pl-2">
      <div class="d-flex flex-justify-between border-bottom pb-3">
        <h3>
          {{paramUserList.total_count}} users
        </h3>
      </div>
      <div id="user_search_results">
        <div class="user-list">
          <div class="user-list-item f5 py-4" v-for="user in paramUserList.items" :key="user.login" v-on:click="fetchRepos(user.login)" style="cursor: pointer;">
            <div class="d-flex">
              <a>
                <img alt="@tmcw" class="avatar position-relative" height="48" v-bind:src="user.avatar_url" width="48">
              </a>
              <div class="user-list-info ml-2">
                <span class="f4 ml-1">{{user.login}}</span>
                <p class="f5 mt-2">
                  creator of open source, like @documentationjs @simple-statistics &amp; more
                </p>
                <ul class="user-list-meta d-flex f6 list-style-none text-gray mt-2">
                  <li class="mr-3">
                    <svg aria-hidden="true" class="octicon octicon-location" height="16" version="1.1" viewBox="0 0 12 16" width="12">
                      <path fill-rule="evenodd" d="M6 0C2.69 0 0 2.5 0 5.5 0 10.02 6 16 6 16s6-5.98 6-10.5C12 2.5 9.31 0 6 0zm0 14.55C4.14 12.52 1 8.44 1 5.5 1 3.02 3.25 1 6 1c1.34 0 2.61.48 3.56 1.36.92.86 1.44 1.97 1.44 3.14 0 2.94-3.14 7.02-5 9.05zM8 5.5c0 1.11-.89 2-2 2-1.11 0-2-.89-2-2 0-1.11.89-2 2-2 1.11 0 2 .89 2 2z"></path>
                    </svg>
                    San Francisco, CA
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
  export default {
    name: 'appUserList',
    props: ['paramUserList'],
    data() {
      return {
        userName: this.paramUserName
      }
    },
    methods: {
      keyUpHandler(event) {
          // console.log(this.userName + ' - Key: ' + event.key);
          this.$emit('FetchProfile', this.userName);
      },
      fetchRepos: function(username) {
        this.$router.push({ name: 'repos', params: { username: username }});
      }
    }
  }
</script>