<template>
  <div id="app">
    <app-header :paramUserName="userName" v-on:FetchProfile="handleFetchProfile"></app-header>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <router-view></router-view>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import AppHeader from './components/Header.vue'

  export default {
    name: 'App',
    components: {
      AppHeader
    },
    data() {
      return {
        userName: ''
      }
    },
    methods: {
      fetchGetName() {
        return this.userName;
      },
      handleFetchProfile(userName) {
        this.userName = userName //sub component property to this.data.userName
        this.$children[1].setInputName(this.userName);
      }
    }
  }
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
