<template>
  <div role="main" class="application-main ">
    <div itemscope="" itemtype="http://schema.org/SoftwareSourceCode" class="">
      <div id="js-repo-pjax-container" data-pjax-container="">
        <div class="pagehead repohead instapaper_ignore readability-menu experiment-repo-nav  ">
          <div class="repohead-details-container clearfix container">
            <ul class="pagehead-actions">
              <li>
                <form accept-charset="UTF-8" action="/notifications/subscribe" class="js-social-container" data-autosubmit="true" data-remote="true" method="post">
                  <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="3QgG7A3fHWM+7UgRiWMh7TTDerj/1SY0q1Rji4tfdJAq2I93ZJrlPWPnhULj96v1Hc3fOtDTJmnQCSlyWwue3w=="></div>
                  <input class="form-control" id="repository_id" name="repository_id" type="hidden" value="116695724">
                  <div class="select-menu js-menu-container js-select-menu">
                    <a href="/pitabasprathal/pitabasprathal.github.io/subscription" class="btn btn-sm btn-with-count select-menu-button js-menu-target" role="button" aria-haspopup="true" aria-expanded="false" aria-label="Toggle repository notifications menu" data-ga-click="Repository, click Watch settings, action:commits#show">
                      <span class="js-select-button">
                        <svg aria-hidden="true" class="octicon octicon-eye" height="16" version="1.1" viewBox="0 0 16 16" width="16">
                          <path fill-rule="evenodd" d="M8.06 2C3 2 0 8 0 8s3 6 8.06 6C13 14 16 8 16 8s-3-6-7.94-6zM8 12c-2.2 0-4-1.78-4-4 0-2.2 1.8-4 4-4 2.22 0 4 1.8 4 4 0 2.22-1.78 4-4 4zm2-4c0 1.11-.89 2-2 2-1.11 0-2-.89-2-2 0-1.11.89-2 2-2 1.11 0 2 .89 2 2z"></path>
                        </svg>
                        Unwatch
                      </span>
                    </a>
                    <a class="social-count js-social-count" href="/pitabasprathal/pitabasprathal.github.io/watchers" aria-label="1 user is watching this repository">
                    1
                    </a>
                    <div class="select-menu-modal-holder">
                      <div class="select-menu-modal subscription-menu-modal js-menu-content">
                        <div class="select-menu-header js-navigation-enable" tabindex="-1">
                          <svg aria-label="Close" class="octicon octicon-x js-menu-close" height="16" role="img" version="1.1" viewBox="0 0 12 16" width="12">
                            <path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48z"></path>
                          </svg>
                          <span class="select-menu-title">Notifications</span>
                        </div>
                        <div class="select-menu-list js-navigation-container" role="menu">
                          <div class="select-menu-item js-navigation-item " role="menuitem" tabindex="0">
                            <svg aria-hidden="true" class="octicon octicon-check select-menu-item-icon" height="16" version="1.1" viewBox="0 0 12 16" width="12">
                              <path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5z"></path>
                            </svg>
                            <div class="select-menu-item-text">
                              <input id="do_included" name="do" type="radio" value="included">
                              <span class="select-menu-item-heading">Not watching</span>
                              <span class="description">Be notified when participating or @mentioned.</span>
                              <span class="js-select-button-text hidden-select-button-text">
                                <svg aria-hidden="true" class="octicon octicon-eye" height="16" version="1.1" viewBox="0 0 16 16" width="16">
                                  <path fill-rule="evenodd" d="M8.06 2C3 2 0 8 0 8s3 6 8.06 6C13 14 16 8 16 8s-3-6-7.94-6zM8 12c-2.2 0-4-1.78-4-4 0-2.2 1.8-4 4-4 2.22 0 4 1.8 4 4 0 2.22-1.78 4-4 4zm2-4c0 1.11-.89 2-2 2-1.11 0-2-.89-2-2 0-1.11.89-2 2-2 1.11 0 2 .89 2 2z"></path>
                                </svg>
                                Watch
                              </span>
                            </div>
                          </div>
                          <div class="select-menu-item js-navigation-item selected" role="menuitem" tabindex="0">
                            <svg aria-hidden="true" class="octicon octicon-check select-menu-item-icon" height="16" version="1.1" viewBox="0 0 12 16" width="12">
                              <path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5z"></path>
                            </svg>
                            <div class="select-menu-item-text">
                              <input checked="checked" id="do_subscribed" name="do" type="radio" value="subscribed">
                              <span class="select-menu-item-heading">Watching</span>
                              <span class="description">Be notified of all conversations.</span>
                              <span class="js-select-button-text hidden-select-button-text">
                                <svg aria-hidden="true" class="octicon octicon-eye" height="16" version="1.1" viewBox="0 0 16 16" width="16">
                                  <path fill-rule="evenodd" d="M8.06 2C3 2 0 8 0 8s3 6 8.06 6C13 14 16 8 16 8s-3-6-7.94-6zM8 12c-2.2 0-4-1.78-4-4 0-2.2 1.8-4 4-4 2.22 0 4 1.8 4 4 0 2.22-1.78 4-4 4zm2-4c0 1.11-.89 2-2 2-1.11 0-2-.89-2-2 0-1.11.89-2 2-2 1.11 0 2 .89 2 2z"></path>
                                </svg>
                                Unwatch
                              </span>
                            </div>
                          </div>
                          <div class="select-menu-item js-navigation-item " role="menuitem" tabindex="0">
                            <svg aria-hidden="true" class="octicon octicon-check select-menu-item-icon" height="16" version="1.1" viewBox="0 0 12 16" width="12">
                              <path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5z"></path>
                            </svg>
                            <div class="select-menu-item-text">
                              <input id="do_ignore" name="do" type="radio" value="ignore">
                              <span class="select-menu-item-heading">Ignoring</span>
                              <span class="description">Never be notified.</span>
                              <span class="js-select-button-text hidden-select-button-text">
                                <svg aria-hidden="true" class="octicon octicon-mute" height="16" version="1.1" viewBox="0 0 16 16" width="16">
                                  <path fill-rule="evenodd" d="M8 2.81v10.38c0 .67-.81 1-1.28.53L3 10H1c-.55 0-1-.45-1-1V7c0-.55.45-1 1-1h2l3.72-3.72C7.19 1.81 8 2.14 8 2.81zm7.53 3.22l-1.06-1.06-1.97 1.97-1.97-1.97-1.06 1.06L11.44 8 9.47 9.97l1.06 1.06 1.97-1.97 1.97 1.97 1.06-1.06L13.56 8l1.97-1.97z"></path>
                                </svg>
                                Stop ignoring
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </li>
              <li>
                <div class="js-toggler-container js-social-container starring-container ">
                  <form accept-charset="UTF-8" action="/pitabasprathal/pitabasprathal.github.io/unstar" class="starred js-social-form" method="post">
                    <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="IaArWymfbtj1GeLwS7cwqtKvs43o2lzsYrsCspu/h2hWUmEumBZx1+F+Q699oYHoha9WV6b6YXuvyFZau7TYlw=="></div>
                    <input type="hidden" name="context" value="repository">
                    <button type="submit" class="btn btn-sm btn-with-count js-toggler-target" aria-label="Unstar this repository" title="Unstar pitabasprathal/pitabasprathal.github.io" data-ga-click="Repository, click unstar button, action:commits#show; text:Unstar">
                      <svg aria-hidden="true" class="octicon octicon-star" height="16" version="1.1" viewBox="0 0 14 16" width="14">
                        <path fill-rule="evenodd" d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74z"></path>
                      </svg>
                      Unstar
                    </button>
                    <a class="social-count js-social-count" href="/pitabasprathal/pitabasprathal.github.io/stargazers" aria-label="1 user starred this repository">
                    1
                    </a>
                  </form>
                  <form accept-charset="UTF-8" action="/pitabasprathal/pitabasprathal.github.io/star" class="unstarred js-social-form" method="post">
                    <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="MsbFf7o1ed4vZS2gJemRFXYTzftVZm8pX/7IvYzf5DbHXmyK5Lj0DOpJ5RfsnS+bPVtl/OJ54Q0yDgy6K02wuA=="></div>
                    <input type="hidden" name="context" value="repository">
                    <button type="submit" class="btn btn-sm btn-with-count js-toggler-target" aria-label="Star this repository" title="Star pitabasprathal/pitabasprathal.github.io" data-ga-click="Repository, click star button, action:commits#show; text:Star">
                      <svg aria-hidden="true" class="octicon octicon-star" height="16" version="1.1" viewBox="0 0 14 16" width="14">
                        <path fill-rule="evenodd" d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74z"></path>
                      </svg>
                      Star
                    </button>
                    <a class="social-count js-social-count" href="/pitabasprathal/pitabasprathal.github.io/stargazers" aria-label="1 user starred this repository">
                    1
                    </a>
                  </form>
                </div>
              </li>
              <li>
                <a href="#fork-destination-box" class="btn btn-sm btn-with-count" title="Fork your own copy of pitabasprathal/pitabasprathal.github.io to your account" aria-label="Fork your own copy of pitabasprathal/pitabasprathal.github.io to your account" rel="facebox" data-ga-click="Repository, show fork modal, action:commits#show; text:Fork">
                  <svg aria-hidden="true" class="octicon octicon-repo-forked" height="16" version="1.1" viewBox="0 0 10 16" width="10">
                    <path fill-rule="evenodd" d="M8 1a1.993 1.993 0 0 0-1 3.72V6L5 8 3 6V4.72A1.993 1.993 0 0 0 2 1a1.993 1.993 0 0 0-1 3.72V6.5l3 3v1.78A1.993 1.993 0 0 0 5 15a1.993 1.993 0 0 0 1-3.72V9.5l3-3V4.72A1.993 1.993 0 0 0 8 1zM2 4.2C1.34 4.2.8 3.65.8 3c0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3 10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3-10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2z"></path>
                  </svg>
                  Fork
                </a>
                <div id="fork-destination-box" style="display: none;">
                  <h2 class="facebox-header" data-facebox-id="facebox-header">Where should we fork this repository?</h2>
                  <!-- <include-fragment src="" class="js-fork-select-fragment fork-select-fragment" data-url="/pitabasprathal/pitabasprathal.github.io/fork?fragment=1">
                    <img alt="Loading" height="64" src="https://assets-cdn.github.com/images/spinners/octocat-spinner-128.gif" width="64">
                  </include-fragment> -->
                </div>
                <a href="/pitabasprathal/pitabasprathal.github.io/network" class="social-count" aria-label="0 users forked this repository">
                0
                </a>
              </li>
            </ul>
            <h1 class="public ">
              <svg aria-hidden="true" class="octicon octicon-repo" height="16" version="1.1" viewBox="0 0 12 16" width="12">
                <path fill-rule="evenodd" d="M4 9H3V8h1v1zm0-3H3v1h1V6zm0-2H3v1h1V4zm0-2H3v1h1V2zm8-1v12c0 .55-.45 1-1 1H6v2l-1.5-1.5L3 16v-2H1c-.55 0-1-.45-1-1V1c0-.55.45-1 1-1h10c.55 0 1 .45 1 1zm-1 10H1v2h2v-1h3v1h5v-2zm0-10H2v9h9V1z"></path>
              </svg>
              <span class="author" itemprop="author"><a href="/pitabasprathal" class="url fn" rel="author">{{userName}}</a></span><!--
                --><span class="path-divider">/</span><!--
                --><strong itemprop="name"><a href="/pitabasprathal/pitabasprathal.github.io" data-pjax="#js-repo-pjax-container">{{repo}}</a></strong>
            </h1>
          </div>
          <nav class="reponav js-repo-nav js-sidenav-container-pjax container" itemscope="" itemtype="http://schema.org/BreadcrumbList" role="navigation" data-pjax="#js-repo-pjax-container">
            <span itemscope="" itemtype="http://schema.org/ListItem" itemprop="itemListElement">
              <a href="/pitabasprathal/pitabasprathal.github.io" class="js-selected-navigation-item selected reponav-item" data-hotkey="g c" data-selected-links="repo_source repo_downloads repo_commits repo_releases repo_tags repo_branches repo_packages /pitabasprathal/pitabasprathal.github.io" itemprop="url">
                <svg aria-hidden="true" class="octicon octicon-code" height="16" version="1.1" viewBox="0 0 14 16" width="14">
                  <path fill-rule="evenodd" d="M9.5 3L8 4.5 11.5 8 8 11.5 9.5 13 14 8 9.5 3zm-5 0L0 8l4.5 5L6 11.5 2.5 8 6 4.5 4.5 3z"></path>
                </svg>
                <span itemprop="name">Code</span>
                <meta itemprop="position" content="1">
              </a>
            </span>
            <span itemscope="" itemtype="http://schema.org/ListItem" itemprop="itemListElement">
              <a href="/pitabasprathal/pitabasprathal.github.io/issues" class="js-selected-navigation-item reponav-item" data-hotkey="g i" data-selected-links="repo_issues repo_labels repo_milestones /pitabasprathal/pitabasprathal.github.io/issues" itemprop="url">
                <svg aria-hidden="true" class="octicon octicon-issue-opened" height="16" version="1.1" viewBox="0 0 14 16" width="14">
                  <path fill-rule="evenodd" d="M7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 0 1 1.3 8c0-3.14 2.56-5.7 5.7-5.7zM7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7zm1 3H6v5h2V4zm0 6H6v2h2v-2z"></path>
                </svg>
                <span itemprop="name">Issues</span>
                <span class="Counter">0</span>
                <meta itemprop="position" content="2">
              </a>
            </span>
            <span itemscope="" itemtype="http://schema.org/ListItem" itemprop="itemListElement">
              <a href="/pitabasprathal/pitabasprathal.github.io/pulls" class="js-selected-navigation-item reponav-item" data-hotkey="g p" data-selected-links="repo_pulls /pitabasprathal/pitabasprathal.github.io/pulls" itemprop="url">
                <svg aria-hidden="true" class="octicon octicon-git-pull-request" height="16" version="1.1" viewBox="0 0 12 16" width="12">
                  <path fill-rule="evenodd" d="M11 11.28V5c-.03-.78-.34-1.47-.94-2.06C9.46 2.35 8.78 2.03 8 2H7V0L4 3l3 3V4h1c.27.02.48.11.69.31.21.2.3.42.31.69v6.28A1.993 1.993 0 0 0 10 15a1.993 1.993 0 0 0 1-3.72zm-1 2.92c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zM4 3c0-1.11-.89-2-2-2a1.993 1.993 0 0 0-1 3.72v6.56A1.993 1.993 0 0 0 2 15a1.993 1.993 0 0 0 1-3.72V4.72c.59-.34 1-.98 1-1.72zm-.8 10c0 .66-.55 1.2-1.2 1.2-.65 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2zM2 4.2C1.34 4.2.8 3.65.8 3c0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2z"></path>
                </svg>
                <span itemprop="name">Pull requests</span>
                <span class="Counter">0</span>
                <meta itemprop="position" content="3">
              </a>
            </span>
            <a href="/pitabasprathal/pitabasprathal.github.io/projects" class="js-selected-navigation-item reponav-item" data-hotkey="g b" data-selected-links="repo_projects new_repo_project repo_project /pitabasprathal/pitabasprathal.github.io/projects">
              <svg aria-hidden="true" class="octicon octicon-project" height="16" version="1.1" viewBox="0 0 15 16" width="15">
                <path fill-rule="evenodd" d="M10 12h3V2h-3v10zm-4-2h3V2H6v8zm-4 4h3V2H2v12zm-1 1h13V1H1v14zM14 0H1a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h13a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1z"></path>
              </svg>
              Projects
              <span class="Counter">0</span>
            </a>
            <a href="/pitabasprathal/pitabasprathal.github.io/wiki" class="js-selected-navigation-item reponav-item" data-hotkey="g w" data-selected-links="repo_wiki /pitabasprathal/pitabasprathal.github.io/wiki">
              <svg aria-hidden="true" class="octicon octicon-book" height="16" version="1.1" viewBox="0 0 16 16" width="16">
                <path fill-rule="evenodd" d="M3 5h4v1H3V5zm0 3h4V7H3v1zm0 2h4V9H3v1zm11-5h-4v1h4V5zm0 2h-4v1h4V7zm0 2h-4v1h4V9zm2-6v9c0 .55-.45 1-1 1H9.5l-1 1-1-1H2c-.55 0-1-.45-1-1V3c0-.55.45-1 1-1h5.5l1 1 1-1H15c.55 0 1 .45 1 1zm-8 .5L7.5 3H2v9h6V3.5zm7-.5H9.5l-.5.5V12h6V3z"></path>
              </svg>
              Wiki
            </a>
            <a href="/pitabasprathal/pitabasprathal.github.io/pulse" class="js-selected-navigation-item reponav-item" data-selected-links="repo_graphs repo_contributors dependency_graph pulse /pitabasprathal/pitabasprathal.github.io/pulse">
              <svg aria-hidden="true" class="octicon octicon-graph" height="16" version="1.1" viewBox="0 0 16 16" width="16">
                <path fill-rule="evenodd" d="M16 14v1H0V0h1v14h15zM5 13H3V8h2v5zm4 0H7V3h2v10zm4 0h-2V6h2v7z"></path>
              </svg>
              Insights
            </a>
            <a href="/pitabasprathal/pitabasprathal.github.io/settings" class="js-selected-navigation-item reponav-item" data-selected-links="repo_settings repo_branch_settings hooks integration_installations repo_keys_settings /pitabasprathal/pitabasprathal.github.io/settings">
              <svg aria-hidden="true" class="octicon octicon-gear" height="16" version="1.1" viewBox="0 0 14 16" width="14">
                <path fill-rule="evenodd" d="M14 8.77v-1.6l-1.94-.64-.45-1.09.88-1.84-1.13-1.13-1.81.91-1.09-.45-.69-1.92h-1.6l-.63 1.94-1.11.45-1.84-.88-1.13 1.13.91 1.81-.45 1.09L0 7.23v1.59l1.94.64.45 1.09-.88 1.84 1.13 1.13 1.81-.91 1.09.45.69 1.92h1.59l.63-1.94 1.11-.45 1.84.88 1.13-1.13-.92-1.81.47-1.09L14 8.75v.02zM7 11c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3z"></path>
              </svg>
              Settings
            </a>
          </nav>
        </div>
        <div class="container new-discussion-timeline experiment-repo-nav  ">
          <div class="repository-content ">
            <app-Commit-Items :paramCommitItems="userRepoCommits"></app-Commit-Items>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import AppCommitItems from '../components/CommitItems.vue'
  export default {
    name: "Commits",
    components: {
      AppCommitItems
    },
    data() {
      return {
        userName: this.$route.params.username,
        repo: this.$route.params.repo,
        errorIsActive: false,
        userProfile: {},
        userRepositories: [],
        userRepoCommits: [],
        loading: false
      }
    },
    methods: {
      fetchRepoCommitsServices() {
        this.loading = true;
        let githubUserRepoApiurl = `http://localhost:8000/users/${this.userName}/repos/${this.repo}/commits`;

        fetch(githubUserRepoApiurl)
          .then((response) => { return response.json() })
          .then((result) => { 
            console.log(result);
            this.userRepoCommits = result; 
            this.loading = false;
          });
      },

    },
    created(){
      this.fetchRepoCommitsServices();
    }
  }
</script>
