<template>
  <div>
    <div class="loading" v-if="loading"><img alt="Loading" height="64" src="https://assets-cdn.github.com/images/spinners/octocat-spinner-128.gif" width="64"></div>
    <div v-if="errorIsActive" class="container-lg clearfix px-3 mt-4">
      <h1>User Profile not found.</h1>
      <h3>Please enter a different username.</h3>
    </div>
    <div v-if="!errorIsActive" class="container-lg clearfix px-3 mt-4">
      <app-User-List :paramUserList="userLists"></app-User-List>
    </div>
  </div>
</template>

<script>
  import AppUserList from '../components/UserList.vue'
  export default {
    name: 'app',
    components: {
      AppUserList
    },
    data() {
      return {
        inputName: this.$parent.fetchGetName(),
        errorIsActive: false,
        userLists: [],
        loading: false
      }
    },
    methods: {
      setInputName(name) {
        this.inputName = this.$parent.fetchGetName();
        this.fetchUserServices();
      },
      fetchUserServices() {
        this.loading = true;
        let githubUserApiurl = `http://localhost:8000/users?q=${this.inputName}`;

        fetch(githubUserApiurl)
          .then((response) => {
            this.errorIsActive = !response.ok;
            return response.json()
          })
          .then((result) => {
            if (!result.message) {
              this.errorIsActive = false;
              this.loading = false;
            }
            this.userLists = result;
            if(this.inputName == ""){
              this.errorIsActive = true;
            }
            console.log(result);
            this.loading = false;

          }).catch((err) => {
            console.log(err);
            this.errorIsActive = true;
            this.loading = false;
          });
      },
    },
    created(){
      this.fetchUserServices();
    }
  }
</script>
